

.trainers__dialog{
    letter-spacing: 0;

    display: block;

    position: fixed;
    top:0px;
    left:0px;

    width:100vw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 100;
    overflow-y:scroll;

    visibility: hidden;
    opacity: 0;

    transition: opacity 0.7s , 
                visibility 0.7s;
}

.trainers__dialog.trainers__dialog-on{
    visibility: visible;
    opacity: 1;
}

.trainers__dialog-wrapper{
    position: absolute;
    left:calc((100vw - 1100px)/2);
    /* left:10vw; */

    padding:40px;
    width:1100px;

    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    margin: 50px 0;
}

/* Dialog__Header */

.dialog__header-cross{
    margin-bottom:10px;

    width:20px;
    height:20px;

    display:none;
    margin-left: auto;
}

.dialog__header{
    display:flex;
    gap:40px;
}

.dialog__header img {
    width:200px;
    height: 278px;
}

.dialog__header-info h3{
    font-family: Jost, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;

    color:#141024;
}

.dialog__header-info p{
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;

    color: #141024B2;
    margin:10px 0;
}

.dialog__header-info-social{
    display: flex;
    gap:10px;
}

.facebook path,
.instagram path{
    transition: 0.5s ease;
}

.facebook:hover
.svg_facebook{
    fill :#D52027;
}

.instagram:hover
.svg_instagram{
    fill :#D52027;
}

.dialog__header-close{  
    width:64px;
    height: 29px;

    margin-left:auto;

    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;

    color:#141024B2;
}

.dialog__header-close:hover{
    color:#D52027;
}

/* Dialog__tabs */

.dialog__tabs{
    display:flex;
    justify-content: space-around;

    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: #d8d5d5 solid 1px;
}

.dialog__tabs-item{
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    
    color:#14102433;
    transition: 0.6s ease;
}

.dialog__tabs-item:hover{
    color:#141024;
}

.dialog__tabs-item.active{
    color:#D52027;
}

/* DropDown */

.dialog__select{
    margin-top:20px;
    display:none;
}

.dropdown{
    position: relative;
    background-color: #D52027;
    border-radius: 8px 8px 0 0;
}

.dropdown__select{
    width:100%;
    padding:20px 0;

    border-radius: 8px 8px 0 0;

    background-color: #D52027;
    color:#fff;

    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    text-align: center;

    background-image:url("./../images/responsive/header/Arrow.svg");
    background-repeat: no-repeat;
    background-size:50px 20px;
    background-position: left calc(50% + 70px) center;

    cursor: pointer;
}

.dropdown__items{
    display:none;
    position:absolute;
    width:100%;

    top:45.59px;

    background-color: #fff;

    z-index: 10;
}

.dropdown__item{
    cursor: pointer;

    width:100%;
    padding:20px 0;

    background-color: #D52027;
    color:#fff;
    border:#cf5054 solid 2px;
    border-bottom:none;

    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    text-align: center;
}

.dropdown__item:last-child {
    border-radius:0 0 8px 8px;
}

.dropdown__items.actived{
    display: block;
}

.dropdown__item.glowing{
    background-color: #c93f3f;
}

.dropdown__item.chosen{
    background-color: #d67474;
}

/* Dialog -- content*/

.dialog__experience, .dialog__awards{
    display:none; 
}

.dialog__education, .dialog__experience , .dialog__awards{
    margin-top:15px;
}

.dialog__education{
    height:300px;
    overflow-y:scroll;
}

.dialog__education-content{
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;

    color:#141024;
    margin:30px 0 40px 0;
}

.dialog__title{
    font-family: Jost;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.6;

    color:#141024;
    margin-bottom:20px;
}

.dialog__experience, .dialog__awards{
    margin:30px 0 40px 0;
}

/* RESPONSIVE */

@media (max-width:1300px){   
    .trainers__dialog-wrapper{
        width:90vw;
        left:5vw;
    }
}

@media (max-width:865px){
    .dialog__tabs{
        gap:60px;
    }

    .dialog__header-info h3{
        font-size: 20px;
    }

    .dialog__header-info p{
        font-size: 16px;
    }
}

@media (max-width:788px){
    .dialog__header-close{  
        width:59px;
        height: 26px;
        font-size: 16px;
    }
}

@media(max-width:600px){
    .dialog__header-info h3{
        font-size: 17px;
    }

    .dialog__header-info p{
        font-size: 13px;
    }

    .dialog__header-close{  
        width:50px;
        height: 22px;
        font-size: 13px;
    }

    .dialog__header img{
        width:150px;
        height:208px;
    }
}

@media (max-width:510px){
    .dialog__header-cross{
        display:block;
    }   

    .dialog__header-close{
        display:none;
    }   

    .dialog__tabs{
        display:none;
    }

    .dialog__select{
        display:block;
    }

    .dropdown__item, .dropdown__select{
        padding:10px 0;
    }
}

@media (max-width:430px){
    .dialog__header img{
        width:110px;
        height:152px;
    }

    .dialog__title{
        font-size:16px;
    }

    .dialog__education-content{
        font-size: 14px;
    }

    .dialog__header{
        gap:20px;
    }
}
